---
import { Code } from "astro:components";
import Tabs from "~/components/Tabs/Tabs.astro";
import Tab from "~/components/Tabs/Tab.astro";
import styles from "./styles.module.css";
import type { CodeLanguage } from "astro";
import { shikiThemes } from "~/config";

type Item = { id: string; content: string };

type Props = {
  items: Item[];
  defaultValue: string;
  lang: CodeLanguage;
};

const { items, defaultValue, lang } = Astro.props;
---

<Tabs value={defaultValue} class={styles.tabs} data-ref="tabs">
  {items.map(({ id }) => (
    <Tab value={id} class={styles.tab}>{id}</Tab>
  ))}
</Tabs>
{items.map(({ id, content }, i) => (
  <div class={styles.panel} data-value={id} hidden={i !== 0}>
    <Code code={content} lang={lang} themes={shikiThemes} />
  </div>
))}
