---
import { getCollection, getEntry } from "astro:content";
import { CodeExample } from "~/components/CodeExample";
import { Icon } from "~/components/Icon";
import MainLayout from "~/layouts/MainLayout.astro";
import { getHref } from "~/utils/urls";
import styles from './styles.module.css';

export async function getStaticPaths() {
  const examples = await getCollection("examples");
  return examples.map((example) => ({ params: { slug: example.id } }));
}

const example = await getEntry("examples", Astro.params.slug);
if (!example) throw new Error(`Example '${Astro.params.slug}' not found`);
const { title, description, files } = example.data;
---

<MainLayout title={title}>
  <div class="prose">
    <h1 class={styles.title}>
      <a class={styles.backLink} href={getHref('examples')} aria-label="All Examples">
        <Icon name="chevron-left" size={28} />
      </a>
      {title}
    </h1>
    <p class={styles.subtitle}>{description}</p>
    <CodeExample files={files} />
    <p class={styles.footerNote}>
      Btw, this playground is written using nano-wc 😉.
      You can get familiar with the code and approaches
      <a href="https://github.com/psdcoder/nano-wc/tree/main/docs/src/components">here</a>.
    </p>
  </div>
</MainLayout>
