---
import { Layout } from "~/components/Layout";
import { MobileTableOfContents, TableOfContents } from "~/components/TableOfContents";
import styles from "./styles.module.css";

type Heading = {
  depth: number;
  slug: string;
  text: string;
};

type Props = {
  title: string;
  headings: Heading[];
};

const { title, headings } = Astro.props;
---

<Layout title={title}>
  {headings.length > 0 && (
    <TableOfContents
      slot="sidebar"
      headings={headings}
      itemsSelector="[data-docs-content] :is(h2, h3)[id]"
    />
  )}
  <article class="prose" data-docs-content>
    <div class={styles.headingRow}>
      <h1>{title}</h1>
      <MobileTableOfContents headings={headings} />
    </div>
    <slot />
  </article>
</Layout>
