---
import { ResizablePanes, ResizablePane } from "../ResizablePanes";
import { CollapsiblePane } from "../CollapsiblePane";
import { Tabs, Tab } from "../Tabs";
import { CodeEditor } from "../CodeEditor";
import { LivePreview } from "../LivePreview";
import styles from "./styles.module.css";
import type { FileEntry } from "../LivePreview/types";
import { invariant } from "~/utils/invariant";

type Props = {
  files: FileEntry[];
};

const { files } = Astro.props;
const firstFile = files[0];

invariant(firstFile, "No files provided");
---

<x-code-example class={styles.host}>
  <script type="application/json" data-prop="files" set:html={JSON.stringify(files)} is:inline />
  <ResizablePanes direction="horizontal" class={styles.panes}>
    <ResizablePane class:list={styles.pane}>
      <Tabs active={firstFile.name} data-ref="x-code-example:tabs" class={styles.fileTabs}>
        {files.map((f) => <Tab value={f.name} class={styles.tab}>{f.name}</Tab>)}
      </Tabs>
      <CodeEditor data-ref="x-code-example:editor" lang={firstFile.type}>{firstFile.content}</CodeEditor>
    </ResizablePane>
    <ResizablePane class={styles.pane}>
      <LivePreview data-ref="x-code-example:preview" />
      <CollapsiblePane data-ref="x-code-example:logsPane" expanded expandedSize={20} class={styles.pane}>
        <span slot="header" class={styles.logsLabel}>Logs</span>
        <button slot="header" data-ref="x-code-example:logsClear" class={styles.logsClear}>Clear</button>
        <div data-ref="x-code-example:logsContainer" class={styles.logsList}>
          <template data-ref="x-code-example:logsTemplate">
            <li data-item>
              <span data-level></span>
              <span data-message></span>
            </li>
          </template>
          <ul role="list" data-ref="x-code-example:logsList"></ul>
        </div>
      </CollapsiblePane>
    </ResizablePane>
  </ResizablePanes>
</x-code-example>

<script>
  import "./components";
</script>
