---
import { Layout, PageHeading } from "astro-pigment/components";
import { getHref } from "astro-pigment/utils/urls";
import { getCollection } from "astro:content";
import { EXAMPLES_DESCRIPTION } from "../../extra-entries";
import styles from './styles.module.css';

const examples = await getCollection("examples");
---

<Layout title="Examples">
  <PageHeading title="Examples" href={getHref(`examples.md`)} />
  <p class={styles.subtitle}>{EXAMPLES_DESCRIPTION}</p>
  <div class={styles.grid}>
    {examples.map((example) => (
        <div class:list={['prose', styles.card]}>
          <h2 class={styles.cardTitle}>
            <a class={styles.cardLink} href={getHref(`examples/${example.id}`)}>{example.data.title}</a>
          </h2>
          <p class={styles.cardDescription} set:html={example.data.descriptionHtml} />
        </div>
      ))}
  </div>
</Layout>
